body {
	font-family: sans-serif;
}
.container-fixed {
    margin: auto;
    width: 980px;
}
@media screen and (max-width: 1010px) {
	.container-fixed {
		padding: 0 15px;
	}
	.content-container,
	.navbar {
		width: 1010px;
	}
}
.navbar {
    height: 82px;
    min-width: 980px;
    background: linear-gradient(#4E69A2, #3A5795);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    border-bottom: 1px solid #133783;
}
.navbar-container {
    height: 64px;
    padding-top: 13px;
}
.logo {
    height: 32px;
    margin-top: 19px;
}
.login-form {
	display: inline-flex;
	float: right;
}
.login-form .login-section {
	padding-left: 14px;
}
.login-form label {
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}
.login-form label.top-label {
	color: #fff;
	margin-bottom: 2px;
	padding-left: 1px;
}
.login-form label.bottom-label {
	color: #9daccb;
}
.bottom-label[for=password]:hover {
	text-decoration: underline;
}
.bottom-label[for=email] input[type=checkbox] {
	margin-right: 1px;
}
.login-form input[type=checkbox] {
	margin-bottom: 0;
}
.login-form input[type=text],
.login-form input[type=password] {
	font-size: 12px;
	border-radius: 0;
	height: 23px;
    padding: 3px 3px 4px 3px;
    border: solid 1px #1d2a5b;
    margin-bottom: 3px;
    width: 150px;
}
.login-form input[type=submit] {
	margin: 21px 0 0 0;
	font-size: 12px;
	background: #6078AB;
	border-radius: 0;
	color: #fff;
	letter-spacing: normal;
	text-transform: none;
	height: 22px;
	border: solid 1px;
	border-color: #2f477a #29447e #1a356e;
	line-height: 13px;
	padding: 3px 6px 4px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1),
				inset 0 1px 0 #8A9CC2;
}
.login-form input:not([type=checkbox]):hover {
	cursor: not-allowed;
}


/*  =====================  */


.content-container {
	background: #edf0f5;
	padding-bottom: 100px;
}
.content {
	padding-top: 20px;
	padding-bottom: 20px;
}
.col {
	display: inline-block;
	vertical-align: top;
}
.left-col {
	width: 565px;
	margin-right: 11px;
}
.right-col {
	width: 399px;
}
.slogan {
	height: 65px;
	padding: 48px 0 24px;
}
.about {
	width: 355px;
	margin-top: 22px;
}
.signup-title {
	height: 60px;
	margin-top: 48px;
}
.signup-form {
	margin-top: 25px;
}
.signup-form input[type=email] {
	font-size: 18px;
	border-radius: 5px;
	border-color: #bdc7d8;
}
.signup-form input[type=submit] {
	background: url(../img/signup-button.png);
	background-size: contain;
	width: 189px;
	height: 38px;
	border: none;
}
.signup-form input[type=submit]:hover {
	background: linear-gradient( rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.0) ), url(../img/signup-button.png);
	background-size: contain;
}
.disclaimer {
	font-size: 11px;
	line-height: 1.34em;
	color: #777;
	width: 360px;
	margin: 5px 0 15px;
}
.footer {
	height: 80px;
}
.footer .tiny {
	font-size: 11px;
	color: #aaa;
}
.footer-container {
	padding-top: 33px;
	display: flex;
	justify-content: space-between;
}